body{
    font-family: 'Cabin', sans-serif;
}

.nav-link {
    letter-spacing: 1px;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.nabar-brand{
    padding-bottom: 0.5em
}
.nav-bar-logo{
    width: 200px;
}

.main-background{
    background-color: #F4EAE3;
}

.hero-image{
    width: 100%;
    display: inline-block;
}

.main-opener{
    font-size: 35px;
    letter-spacing: 1px;
}
@media only screen and (min-width: 768px){

    .main-opener>p{
    position:relative;
    top: 200px;
    }

    .main-opener>button{
    position:relative;
    top: 200px;
    }

}

@media only screen and (max-width: px){

    .main-opener{
        text-align: center;
        font-size: 24px;
        padding: 10px 0px;
    }

    .hero-image{
        width: 100%;
        text-align: center;
    }

}


/*-----------------FOOTER SECTION --------------------*/

.footer{
    background-color: white;
    padding-top: 10px;
}

.footer-social{
    text-align: center;
}
.footer-social li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
}

.footer-social>ul{
    padding-left: 0px;
}

.footer-li:hover{
    color: gray;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.footer-social-li:hover{
    color: gray;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.copyright{
    font-size: 5px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

.copyright > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.copyright > a:hover{
    text-decoration: none;
    color: gray;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out
}
